.block-list {
    display : inline-block;
    vertical-align: top;
    text-align: center;
    line-height: normal;
    background-color: white;
    width: 200px;
    height: 300px;
    position: relative;
 margin: 20px 1.5%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.color {
    color: white;
}