.list {
    margin-top: 50px;
    background-color: #e7dddd;
    width: 100%;
    height: auto;
    border-bottom: 2px solid rgba(0, 0, 0, 0.135);
    border-top: 2px solid rgba(0, 0, 0, 0.135);
    margin-bottom: 10px;
    vertical-align: top;
    text-align: center;
    line-height: normal;
}

